body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

/* 전체 감싸는 구조 */
.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 왼쪽 숫자 좌표 */
.ranks {
  display: grid;
  grid-template-rows: repeat(8, 60px);
  margin-right: 6px;
  font-weight: bold;
}

.ranks div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 체스판 */
#board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  border: 3px solid #333;
}

/* 체스 칸 */
.square {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  cursor: pointer;
}

.white {
  background: #f0d9b5;
}

.black {
  background: #b58863;
}

/* 아래 문자 좌표 */
.files {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  margin: 6px auto 0;
  width: 480px;
  font-weight: bold;
}

.files div {
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

/* 전체 감싸는 구조 */
.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 왼쪽 숫자 좌표 */
.ranks {
  display: grid;
  grid-template-rows: repeat(8, 60px);
  margin-right: 6px;
  font-weight: bold;
}

.ranks div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 체스판 */
#board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  border: 3px solid #333;
}

/* 체스 칸 */
.square {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  cursor: pointer;
}

.white {
  background: #f0d9b5;
}

.black {
  background: #b58863;
}

/* 아래 문자 좌표 */
.files {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  margin: 6px auto 0;
  width: 480px;
  font-weight: bold;
}

.files div {
  text-align: center;
}
