body {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

.controls {
  margin-bottom: 10px;
}

#status {
  margin: 10px;
  font-weight: bold;
}

.board-wrapper {
  display: grid;
  grid-template-columns: 30px 320px 30px;
  justify-content: center;
  align-items: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(8, 40px);
  border: 3px solid #333;
}

.square {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.white {
  background: #f0d9b5;
}

.black {
  background: #b58863;
}

.rank-labels {
  display: grid;
  grid-template-rows: repeat(8, 40px);
  text-align: right;
  padding-right: 5px;
}

.file-labels {
  display: grid;
  grid-template-rows: repeat(8, 40px);
  text-align: left;
  padding-left: 5px;
}
